<!-- {{ ansible_managed }} -->

<ezstream>
  <url>http://localhost:8000/stream</url>
  <sourcepassword>hackme</sourcepassword>
  <format>MP3</format>
  <filename>playlist.m3u</filename>
  <stream_once>1</stream_once>
  <svrinfoname>My Stream</svrinfoname>
  <svrinfourl>http://www.oddsock.org</svrinfourl>
  <svrinfogenre>RockNRoll</svrinfogenre>
  <svrinfodescription>This is a stream description</svrinfodescription>
  <svrinfobitrate>128</svrinfobitrate>
  <svrinfochannels>2</svrinfochannels>
  <svrinfosamplerate>44100</svrinfosamplerate>
  <svrinfopublic>0</svrinfopublic>
</ezstream>

<ezstream />
<url />
<sourceuser />
<sourcepassword />
<format />
<filename />
<playlist_program />
<shuffle />
<metadata_progname />
<metadata_format />
<metadata_refreshinterval />
<stream_once />
<reconnect_tries />
<svrinfoname />
<svrinfourl />
<svrinfogenre />
<svrinfodescription />
<svrinfobitrate />
<svrinfoquality />
<svrinfochannels />
<svrinfosamplerate />
<svrinfopublic />
<reencode />
<enable />
<encdec />
<format />
<match />
<decode />
<encode />

